<%- include('partials/header'); -%>
    <div class="hide-on-large">
        <%- include('partials/headerMobile'); -%>
    </div>
    <main id="about">
        <div class="about-header">
            <div class="about-header-wrapper hide-on-small">
                <%- include('partials/headerNav'); -%>
            </div>
        </div>
        <div class="about-wrapper">
            <div class="about-hdr">
                <h2>About Us</h2>
            </div>
            <div class="di">
                <div class="about-history">
                    <h2>Our little History</h2>
                    <p>Mega bites is a 5 Star bar and restaurant located in the heart of the bustling city. We offer a wide range of local and international cuisines. With ample parking space and a beautiful scenery over looking city square, we offer world
                        class service
                    </p>
                    <p>We are dedicated to offering you the best experience of your life. With over 300 staff, we work round the clock 24 Hours a day and 7 days a week with you at every moment.</p>
                    <ul class="services">
                        <li class="service">Open 24/7</li>
                        <li class="service">Wellstorked bar</li>
                        <li class="service">Ample parking</li>
                        <li class="service">Reservation</li>
                        <li class="service">24Hrs Customer service</li>
                    </ul>
                    <div class="mission">
                        <h3>Mission</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, excepturi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio nobis magni nihil suscipit temporibus eius eos enim obcaecati necessitatibus.</p>
                    </div>
                    <div class="vision">
                        <h3>Vision</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptate sit ratione mollitia? Nemo, laudantium. Quidem excepturi harum asperiores sapiente?</p>
                    </div>
                </div>
                <div class="history-img img">
                    <img src="/images/chef2.png" alt="" srcset="">
                </div>
            </div>

        </div>
        <div class="home-testimony">
            <h3>What our guests say</h3>
            <div class="testimony gr gr-3">
            </div>
        </div>
        <%- include('partials/footer'); -%>
    </main>
    <%- include('partials/footerNav'); -%>