<%- include('partials/header'); -%>

    <div class="hide-on-large">
        <%- include('partials/headerMobile'); -%>
    </div>

    <main id="custom-menu">
        <div class="custom-menu-header">
            <div class="custom-menu-hdr-wrapper">
                <div class="hide-on-small">
                    <%- include('partials/headerNav'); -%>
                </div>
            </div>
        </div>
        <div class="custom-menu-wrapper">
            <div class="custom-menu-hdr">
                <h2>Build your own menu</h2>
            </div>
        </div>
        <%- include('partials/footer'); -%>
    </main>
    <script src="/js/menu.js"></script>
    <%- include('partials/footerNav'); -%>