<%- include('partials/header'); -%>
    <div class="hide-on-large">
        <%- include('partials/headerMobile'); -%>
    </div>

    <main id="home">
        <div class="home-wrapper">
            <div class="hide-on-small">
                <%- include('partials/headerNav'); -%>
            </div>

            <div class="d2">
                <div class="logo">
                    <img src="/images/chef.png" alt="">
                    <h1 class="text-primary hide-on-small">Mega
                        <h2 class="text-secondary hide-on-small">Bites</h2>
                    </h1>
                </div>

                <div class="hide-on-small">
                    <% if (user){ %>
                        <div class="home-profile">
                            <h2>Welcome !</h2>
                            <h3>
                                <%= user.username %>
                            </h3>
                            <a href="/profile" class="btn">View Profile</a>
                        </div>
                        <% } %>
                </div>
            </div>

            <h4 class="text-primary">Tasty treats on the go</h4>
            <div class="home-r2">
                <div class="home-header">
                    <div class="header-text">
                        <h2>Who are we ?</h2>
                        <p>Mega bites is a 5 Star bar and restaurant located in the heart of the bustling city. We offer a wide range of local and international cuisines. With ample parking space and a beautiful scenery over looking city square, we offer
                            world class service
                        </p>
                        <ul class="services">
                            <li class="service">Open 24/7</li>
                            <li class="service">Wellstorked bar
                            </li>
                            <li class="service">Ample parking</li>
                            <li class="service">Reservation</li>
                            <li class="service">24Hrs Customer service
                            </li>
                        </ul>
                        <a href="/reservation" class="btn-getstarted btn btn-medium">Make reservation</a>
                    </div>
                </div>
                <div class="img">
                    <img src="/images/cup.png" alt="" srcset="">
                </div>
            </div>

            <div class="services di">
                <h3>Our Services</h3>
                <div class="services-wrapper gr gr-3">
                    <div class="service">
                        <div class="service-img">
                            <img src="/images/fast delivery service.svg" alt="" srcset="">
                        </div>
                        <div class="service-txt">
                            <h3>Fast food delivery</h3>
                            <p>We will get you your food fast, on time with no delays.</p>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service-img">
                            <img src="/images/remote-work-man.svg" alt="" srcset="">
                        </div>
                        <div class="service-txt">
                            <h3>Customer TLC</h3>
                            <p>Our customers are our major priority, thats why we have a dedicated customer care team</p>
                        </div>
                    </div>
                    <div class="service">
                        <div class="service-img">
                            <img src="/images/remote-work-man.svg" alt="" srcset="">
                        </div>
                        <div class="service-txt">
                            <h3>Tasty food menu</h3>
                            <p>Browse through our menu to view our food varieties and place your order</p>
                        </div>
                    </div>
                </div>

                <div class="di ad-box">
                    <div class="app-ad">
                        <div class="app-img">
                            <div class="app">
                                <div class="app-display">
                                    <img src="/images/chef.png" alt="" srcset="">
                                    <h3>MegaBites</h3>
                                </div>
                                <div class="app-menu">
                                    <i class="lni lni-line-double"></i>
                                    <i class="lni lni-home"></i>
                                    <i class="lni lni-chevron-right"></i>
                                </div>
                            </div>
                        </div>
                        <div class="app-txt">
                            <h3>Get our app today</h3>
                            <h4>Download from apple store and play store</h4>
                            <div class="app-store">
                                <div class="play-store store">
                                    <span>
                                        <i class="lni lni-android-original"></i>
                                        <p>google play</p>
                                    </span>
                                </div>
                                <div class="apple-store store">
                                    <span>
                                        <i class="lni lni-apple"></i>
                                        <p>apple store</p>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="home-testimony">
                <h3>What our guests say</h3>
                <div class="testimony">
                    <div class="testimony-box">
                        <img src="/images/testimony/1.jpg" alt="" srcset="">
                        <span>
                            <p>" Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Perferendis, hic ipsa incidunt quod
                                necessitatibus.. "</p>
                            <h3>John Doe</h3>
                        </span>
                    </div>
                    <div class="testimony-box">
                        <img src="/images/testimony/portrait3.jpg" alt="" srcset="">
                        <span>
                            <p>" Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Perferendis, hic ipsa incidunt quod
                                necessitatibus.. "</p>
                            <h3>John Doe</h3>
                        </span>
                    </div>
                    <div class="testimony-box">
                        <img src="/images/testimony/portrait2.jpg" alt="" srcset="">
                        <span>
                            <p>" Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Perferendis, hic ipsa incidunt quod
                                necessitatibus.. "</p>
                            <h3>John Doe</h3>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer'); -%>
            <%- include('partials/footerNav'); -%>
    </main>