<%- include('partials/header'); -%>

    <div class="hide-on-large">
        <%- include('partials/headerMobile'); -%>
    </div>

    <main id="menu">
        <div class="menu-header">
            <div class="menu-header-wrapper">
                <div class="hide-on-small">
                    <%- include('partials/headerNav'); -%>
                </div>

            </div>
        </div>
        <div class="menu-wrapper">

        </div>
        <%- include('partials/footer'); -%>
    </main>

    <%- include('partials/footerNav'); -%>