<%- include('partials/header'); -%>

    <div class="hide-on-large">
        <%- include('partials/headerMobile'); -%>
    </div>

    <main id="contact">
        <div class="contact-header">
            <div class="contact-hdr-wrapper">
                <div class="hide-on-small">
                    <%- include('partials/headerNav'); -%>
                </div>
            </div>
        </div>
        <div class="contact-wrapper">
            <div class="contact-hdr">
                <h2>Contact Us</h2>
            </div>
            <div class="di">
                <div class="contact-details">
                    <div class="contact-address">
                        <h3>Find Us At</h3>
                        <p>10th Street, Motion Avenue. Opposite Post Office</p>
                        <h3>Open Hours</h3>
                        <p>6 AM - 9 PM(MON - FRI)</p>
                        <p>8 AM - 6 PM(SAT & SUN)</p>
                    </div>
                    <div class="contact-number">
                        <p><i class="lni lni-phone"></i> (+033) 088 899005</p>
                        <p><i class="lni lni-envelope"></i> info@megabites.com</p>
                        <p><i class="lni lni-envelope"></i> reservation@megabites.com</p>
                    </div>
                    <div class="delivery-contact">
                        <img src="/images/menus/icons/049-delivery truck.png" alt="" srcset="">
                        <div class="delivery-contact-txt">
                            <h3>For delivery</h3>
                            <p>Call: +256 776 900 332</p>
                        </div>
                    </div>
                    <div class="delivery-info">
                        <img src="/images/menus/icons/049-delivery truck.png" alt="" srcset="">
                        <div class="delivery-contact-txt">
                            <h3>Delivery Hours</h3>
                            <p>MON - FRI: 9 AM - 9 PM</p>
                            <p>SAT & SUN: 9 AM - 6 AM</p>
                        </div>
                    </div>
                </div>
                <div class="send-message">
                    <h4>Send us a message</h4>
                    <form>
                        <div class="input-group">
                            <div class="input">
                                <input type="text" name="contactName" id="" placeholder="Your name">
                                <div class="name-error error"></div>
                            </div>
                            <div class="input">
                                <input type="text" name="contactEmail" id="" placeholder="Your email">
                                <div class="email-error error"></div>
                            </div>
                        </div>
                        <div class="input">
                            <input type="text" name="contactSubject" id="" placeholder="Subject">
                            <div class="subject-error error"></div>
                        </div>
                        <div class="input">
                            <textarea name="contactMsg" id="" cols="30" rows="10" placeholder="Your message"></textarea>
                            <div class="message-error error"></div>
                        </div>
                        <div class="input">
                            <input type="submit" class="btn" value="submit">
                        </div>
                    </form>
                </div>
            </div>
            <div id="maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4084401.6340177944!2d30.057929574687446!3d1.3726053211149571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1771a69f6499f945%3A0x874155ce43014549!2sUganda!5e0!3m2!1sen!2sug!4v1615639256390!5m2!1sen!2sug"
                    width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <%- include('partials/footer'); -%>
    </main>
    <script>
        const form = document.querySelector('.send-message form');
        let emailError = document.querySelector('.email-error');
        let nameError = document.querySelector('.name-error');
        let subjectError = document.querySelector('.subject-error');
        let messageError = document.querySelector('.message-error');

        form.addEventListener('submit', async(e) => {
            e.preventDefault();

            let name = form.contactName.value;
            let email = form.contactEmail.value;
            let subject = form.contactSubject.value;
            let message = form.contactMsg.value;

            emailError.textContent = nameError.textContent = messageError.textContent = ' ';

            try {
                const res = await fetch('/contact', {
                    method: 'POST',
                    body: JSON.stringify({
                        name,
                        email,
                        subject,
                        message
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                const data = await res.json();

                if (data.errors) {
                    emailError.textContent = data.errors.contactEmail;
                    nameError.textContent = data.errors.contactName;
                    messageError.textContent = data.errors.message;
                }

                if (data.contact) {
                    form.contactName.value = ' ';
                    form.contactEmail.value = ' ';
                    form.contactSubject.value = ' ';
                    form.contactMsg.value = ' ';
                }

            } catch (err) {
                console.log(err);
            }

        });
    </script>
    <%- include('partials/footerNav'); -%>